.top-control-container {
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0;
}

.left, .right {
    cursor: pointer;
}

.left::before {
    content: '<';
}

.right::after {
    content: '>';
}