.rdtrp-container {
    display: inline-flex;
    position: relative;
    font-size: 12px;
}

.rdtrp-container .selection-display {
    font-size: 14px;
    padding: 4px;
}

.rdtrp-container .calendar-popup {
    display: flex;
    position: absolute;
    top: 25px;
}